@import "tailwindcss";
*{
    box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* this is use for responsive for big 4k screen */
  max-width: 2000px;
  margin-inline: auto;
}
